.image{
    background-image: url("./header.jpg");
    width: 100%;
    height:35em;
    border: 2px solid black;
}
.smallpics{
    padding-top: 2em;
    width: 25em;
    height: 17em;
}
.btnpad{
    position: relative;
    top: 8em;
    bottom: 0;
}

.manzar{
    position: relative;
    top: 6em;
    bottom: 0;
    width: 15em;
    height: 21em;
    border-radius: 50%;
    border: 1px groove black;
    box-shadow: 1em 1em 2em black;
}
ul li ul{
    padding-left: 2em;
    list-style: disc;
}
.head1{
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    color: white;
}
p{
    padding-top: 2em;
    border-bottom: 2px solid #e0e0e0;;
}
.container{
     line-height: 2em;
    letter-spacing: 0.10em;
     word-spacing: 1em;
}
.a1{
    font-family: 'Satisfy', cursive;
    font-size: 3.5em;
}
.a2{
    font-family: 'Quintessential', cursive;
    font-size: 2.5em;
}
.a3{
    font-family: 'Quintessential', cursive;
    font-size: 2em;
}
p,ul,dt,dd,span{
    font-family: 'Katibeh', cursive;
    font-size: 1.5em;
}
